menu "FSM Configuration"

    config FSM_EVENTS_NUM
        int "FSM events number"
        default 2
        help
        	Set the number of FSM events to check per row.
        	
    config FSM_ROWS_NUM
        int "FSM rows number"
        default 10
        help
        	Set the number of rows to check.

endmenu